body, h1, ul, li {
	margin: 0; padding: 0; border: 0;
}
h4
{
  font-size:25px;
}
body {
	background: #EDEFF1;
 
  }
  small
{
    font-size:30;
}

.next
{
  float:right;
  opacity: .5;
  
}
.previous
{
 
  opacity: .5

}
.glyphicon {
    font-size: 50px;
}
.text-success
{
  font-size:50px;
  margin-left: 32%
}
.fact
{
  font-size: 18px;
}
.fact2
{
  font-size: 18px;
}
img 
{
  position:relative;
outline: 2px solid #909599;
}