body, h1, ul, li,.container-fluid,img {
	margin: 0; padding: 0; border: 0;
}
body {
	background: #EDEFF1;
 
  }
.glyphicon {
    font-size: 50px;
}
.text-success
{
  font-size:50px;
  
}
.navbar
{
  background-color: #404040  ;
}
.jumbotron
{
  padding-top: 8em;
  background:#3399DD;
  padding-left:10px;
  color: white
}

img
{
  width:500px;
  height:300px; 
  float:left;
}
.backg
{
  background-color:#C0392B;
  height:500px;
  background-size: contain;
}

.backgt
{
  background-color: #F1C40F;
  height:500px;
  background-size: contain;
}
.backgth
{
  background-color:#7F8C8D;
  background-size: :contain;
  height:500px;
}

.backgth h1
{
  position:relative;
  left:5%;
  color:white;
  font-size: 50px;
  font-family: "Brush Script MT",cursive
}

.btn-primary
{
  position:relative;
  left:7%;
  font-size: 25px;
  background-color: #5F8DD3;
}