body, h1, ul, li {
	margin: 0; padding: 0; border: 0;
}
#container2
{
  background-color:#E6F0FA;
}
.back
{
  background-color:white;
}
h4
{
  font-size:25px;
}
body {
	background: #EDEFF1;
 
  }
  small
{
    font-size:30;
}

.next
{
  float:right;
  opacity: .5;
  
}
.previous
{
 
  opacity: .5

}
.glyphicon {
    font-size: 50px;
}
.text-success
{
  font-size:50px;
  margin-left: 32%
}
.fact
{
  font-size: 18px;
}
.fact2
{
  font-size: 18px;
}
img 
{
  width:auto;
  padding-left: 15%
  
}
.noborder
{
  outline: 0px;
}
.navbar
{
  background-color: white;
}
.carousel-control.left, .carousel-control.right
{
  background-image: none;
}
.carousel-indicators li {
  background-color: red;
  background-color: rgba(0,0,0,.25);
}
.carousel-indicators .active {
  background-color:#E6F0FA;
}